---
import Layout from "@/layouts/Layout.astro";
import { ActivityService } from "@/lib/services/activity";
import { ActivitiesTable } from "@/components/admin/activities-table";

if (Astro.locals.user?.rank !== "Admin") {
  return Astro.redirect("/app");
}

const { DB } = Astro.locals.runtime.env;
const activityService = new ActivityService(DB);
const activities = await activityService.getAll();
---

<Layout title="Atividades">
  {activities.length ? (
    <ActivitiesTable data={activities} client:only="react" />
  ) : (
    <p class="font-medium text-muted-foreground">
      Ainda nao existem atividades registadas. Comeca por iniciar uma a partir de "Nova atividade".
    </p>
  )}
</Layout>
